<div class="container-fluid demoOnly">





<div class="jumbotron">
  <h3>FieldCaster Prototype Demonstration</h3>
  <small>Sprint 3, Sep 2015</small>
  <p>This application allows for two different roles. Choose a role to view how the application looks, feels and functions.</p>
<div class="row">
  <div class="col-md-6">

  	<a class="userIcon" href="#/admin-dashboard">
  		<i class="fa fa-user"></i>
  		<h4>Admin</h4>
  	</a>

  	<p>...</p>

  </div>
  <div class="col-md-6">

  	<a class="userIcon" href="#/admin-user">
  		<i class="fa fa-user"></i>
  		<h4>User</h4>
  	</a>

  	<p>...</p>

  </div>
</div>
  
</div>


</div><!-- /container-fluid -->