<nav class="navbar navbar-default navbarAdmin">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="img/desktop_fieldcaster_logo.png"></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul>
        <li class="">
          <a ui-sref="admin-dashboard" class="">
            <span class="title">Dashboard</span>
            <span class="details"></span>

            <span class="glyphicon navbarAdminMenuIcon adminMenuRightIcon" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-home navbarAdminMenuIcon adminMenuHomeIcon" aria-hidden="true"></span>
          </a>
        </li>
        <li class="">
          <a class="" href="">
            <span class="title">Stream</span>
            <span class="details">12 New Updates</span>

            <span class="glyphicon glyphicon-facetime-video navbarAdminMenuIcon adminMenuHomeIcon" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-menu-right navbarAdminMenuIcon adminMenuRightIcon" aria-hidden="true"></span>
          </a>

          <ul>
          <!--
            <li>
              <a class="" href="">
                <span class="title">View All Streams</span>
                <span class="details">20 Videos</span>

                <span class="glyphicon navbarAdminMenuIcon adminMenuRightIcon" aria-hidden="true"></span>
                <span class="glyphicon navbarAdminMenuIcon adminMenuHomeIcon" aria-hidden="true">va</span>
              </a>
            </li>
          -->
            <li>
              <a ui-sref="desk-schedule" class="">
                <span class="title">Schedule A Stream</span>
                <span class="details">Create And Schedule An Event</span>

                <span class="glyphicon navbarAdminMenuIcon adminMenuRightIcon" aria-hidden="true"></span>
                <span class="glyphicon navbarAdminMenuIcon adminMenuHomeIcon" aria-hidden="true">sa</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>