
$primary-color: #2A8EBB;

$alpha-button-border: #1F7B9A;
$alpha-button-color: #FFFFFF;
$alpha-button-fill: #2A8EBB;

$alpha-background-color: #F2F2F2;

$beta-button-border: #7f7f7f;
$beta-button-color: #7f7f7f;
$beta-button-fill: #ffffff;
$beta-button-hover: #dddddd;

$black-transparency: #000000;



$form-input-height: 36px;