<footer>

  <ul class="row">
    <li class="col-xs-4 col-sm-4">
      <a ui-sref="admin-dashboard">
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        <span class="glyphicon-class">Dashboard</span>
      </a>
    </li>
    <li class="col-xs-4 col-sm-4">
      <a ui-sref="mobile-schedule">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <span class="glyphicon-class">Schedule</span>
      </a>
    </li>
    <li class="col-xs-4 col-sm-4">
      <a ui-sref="mobile-settings" class="active">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        <span class="glyphicon-class">Setting</span>
      </a>
    </li>
  </ul>

</footer>