.formPanel {
    border-radius: 0px;
    margin: 20px 0 0 0;
    padding: 5px;

	.form-group-default {
		 @include form-group-default;
		 
		 label {
			 @include form-group-default-label;
		 }

		 .form-control {
		 	 @include form-group-default-form-control;
		 }

         textarea {
            @include form-group-default-form-control-textarea;
         }
		 .btn {
        	font-family: Arial,sans-serif;


            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0.01em;


            margin-bottom: 0;
            border: 1px solid #f0f0f0;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;


            -webkit-font-smoothing: antialiased;


            -webkit-text-size-adjust: 100%;

            -ms-text-size-adjust: 100%;

            -webkit-font-feature-settings: "kern" 1;
            -moz-font-feature-settings: "kern" 1;
            border-radius: 3px;
            
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;

            background-image: none!important;
            color: #626262;
            background-color: #ffffff;
            text-shadow: none;
            box-shadow: none;
            line-height: 21px;
            padding-left: 17px;
            padding-right: 17px;
            position: relative;
            transition: color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s!important;
		 }
	}

    .form-group-default.disabled {
        @include form-group-disabled;

        input {
            opacity: .6;
        }
    }
    
}