<div class="container-fluid containerAdmin">

	<global-nav></global-nav>

	<div class="mobleWizardWidget">
      	<form id="schedule-form" ng-submit="processForm()">

                  <div id="form-views" ui-view>


                        <ul class="mobileList" id="">
                              <li class="" id="">
                                    <a ui-sref="mobile-settings.add-background-image" class="" id="">
                                          <h2>Backgrounds</h2>
                                          <small>Images used for stream background</small>
                                          <div class="icon"><i class="fa fa-picture-o"></i></div>
                                          <div class="right-arrow"><i class="fa fa-angle-right"></i></div>
                                    </a>
                              </li>
                        </ul>
                        

                  </div>

            </form>
	</div>

	<mobile-footer></mobile-footer>

</div>