<div class="container-fluid containerAdmin">

	<global-nav></global-nav>

	<div class="mobleWizardWidget">
      	<form id="schedule-form" ng-submit="processForm()">

                  <div id="form-views" ui-view>


                        <ul class="mobileList" id="">
                              <li class="" id="">
                                    <a ui-sref="mobile-schedule.general-information" class="" id="">
                                          <h2>Schedule Stream</h2>
                                          <small>Schedule backpack unit stream</small>
                                          <div class="icon"><i class="fa fa-calendar-plus-o"></i></div>
                                          <div class="right-arrow"><i class="fa fa-angle-right"></i></div>
                                    </a>
                              </li>
                        </ul>
                        

                  </div>

            </form>
	</div>

</div>